<div class="signin-container animate__animated animate__fadeInLeft">
  <div class="signin-helloFriendClass" style="margin-bottom: 0.2em;">
    Create Your Account
  </div>
  <div
    style="
      width: 151px;
      height: 4px;
      background: rgba(51, 122, 183, 1);
      margin-bottom: 0.3em;
    "
  ></div>
  <div class="signin-icons">
    <div>
      <span class="material-icons" style="color: blue; font-size: 35px;">
        facebook
      </span>
    </div>
    <div>
      <span class="material-icons" style="color: blue; font-size: 35px;">
        facebook
      </span>
    </div>
  </div>
  <div class="icons" style="margin-bottom: 1em;"></div>
  <div class="oruseyouremailad" style="margin-bottom: 1em;">
    or use your email address
  </div>
  <div class="Name" style="margin-bottom: 1em;">
    <input placeholder="Your Name" class="Input_Search" type="text" />
  </div>
  <div class="email" style="margin-bottom: 1em;">
    <input placeholder="Email" class="Input_Search" type="text" />
  </div>
  <div class="password" style="margin-bottom: 1em;">
    <input placeholder="Password" class="Input_Search" type="text" />
  </div>
  <div class="checkbox-field" style="margin-bottom: 1em;">
    <div><input type="checkbox" /> Remember me</div>
    <div>Forgot password</div>
  </div>
  <div>
    <button class="signinBtn" style="margin-bottom: 1em;">Sign in</button>
  </div>
</div>
