<div class="signin-container">
  <div
    class="animate__animated animate__fadeInLeft"
    style="display: flex; flex-direction: column; align-items: center;"
  >
    <div class="signin-helloFriendClass" style="margin-bottom: 0.2em;">
      Hello Friend!
    </div>
    <div
      style="
        width: 151px;
        height: 4px;
        background: rgba(51, 122, 183, 1);
        margin-bottom: 0.3em;
      "
    ></div>
    <div class="signin-icons">
      <div>
        <span class="material-icons" style="color: blue; font-size: 35px;">
          facebook
        </span>
      </div>
      <div>
        <span class="material-icons" style="color: blue; font-size: 35px;">
          facebook
        </span>
      </div>
    </div>
    <div class="icons" style="margin-bottom: 1em;"></div>
    <div class="oruseyouremailad" style="margin-bottom: 1em;">
      or use your email address
    </div>
    <div class="email" style="margin-bottom: 1em;">
      <input placeholder="Email" class="Input_Search" type="text" />
    </div>
    <div class="password" style="margin-bottom: 1em;">
      <input placeholder="Password" class="Input_Search" type="text" />
    </div>
    <div class="checkbox-field" style="margin-bottom: 1em;">
      <div><input type="checkbox" /> Remember me</div>
      <div>Forgot password</div>
    </div>
  </div>
  <div>
    <button
      class="signinBtn animate__animated animate__fadeInUp"
      style="margin-bottom: 1em;"
    >
      Sign in
    </button>
  </div>
</div>
